<% provide(:title, 'About') %>
<h1>About PieLab</h1>
<div class="span6">
    <div class="about-pielab">
        <h3>Our mission</h3>
        <p>PieLab is an interdisciplinary research group dedicated to the development
           of experimental pies. Our expert researchers apply the latest findings in
           crust tectonics, filling dynamics, and computational flakeometry to engineer
           more perfect pies.</p>
        <p>At PieLab, we're not just pushing the frontiers of pie science.
           We're baking the pies of tomorrow, today.</p>
    </div>
</div>
<div class="span4">
    <div class="contact">
        <h3>Contact us</h3>
        <a href="mailto:research@pielab.info">research@pielab.info</a>
    </div>
</div>
