<% provide(:title, 'Field Notes') %>
<div class="blog-header">
        <%= image_tag('fieldnotes-header-alpha.png', :alt => "Fieldnotes") %>
</div>
<div class="span8">
    <%= render @posts %>
    <%= will_paginate %>
</div>
